<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.billage"
    android:installLocation="preferExternal">
    <!-- 인터넷 연결 허용하는 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".backend.common.AppData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true">
        <activity android:name=".frontend.ui.auth.AuthActivity"
            android:label="인증"></activity>
        <activity
            android:name=".frontend.ui.mypage.subView.SetNotify"
            android:label="@string/mypage_set_notify"></activity>
        <activity
            android:name=".frontend.ui.mypage.subView.SetPassword"
            android:label="@string/mypage_set_password" />
        <activity
            android:name=".frontend.ui.mypage.subView.AddBank"
            android:label="@string/mypage_add_bank" />
        <activity
            android:name=".frontend.ui.mypage.subView.CurrentBank"
            android:label="@string/mypage_current_bank" />
        <activity
            android:name=".frontend.ui.mypage.subView.AccountModify"
            android:label="@string/mypage_account_modify" />
        <activity
            android:name=".frontend.ui.addUsage.CalendarDetailUsage"
            android:label="상세정보" />
        <activity
            android:name=".frontend.ui.addUsage.AddUsage"
            android:label="내역추가" />
        <activity
            android:name=".frontend.ui.signup.SignupActivity"
            android:label="회원가입" />
        <activity
            android:name=".frontend.MainActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
            android:label="@string/app_name"
            android:launchMode="singleTask" />
        <activity
            android:name=".frontend.ui.SplashActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="unityplayer.UnityActivity"
                android:value="false" />
        </activity>

        <meta-data
            android:name="unity.build-id"
            android:value="ff76efc7-8892-41b4-ba8b-4b1dce257388" />
        <meta-data
            android:name="unity.splash-mode"
            android:value="0" />
        <meta-data
            android:name="unity.splash-enable"
            android:value="True" />
    </application>

</manifest>